@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
  --light: rgb(224, 141, 121);
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 4rem 1rem 4rem;
}

.homePage h1 {
  font-family: 'Mouse Memoirs', sans-serif;
  color: var(--light);
  padding-bottom: 2rem;
}

.homePage p {
  font-family: 'Rubik', sans-serif;
  margin-bottom: 1rem;
  line-height: 1.8rem;
}
