* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div.calculator {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
  width: 100%;
}

.screen,
.keyboard {
  outline: 1px solid rgba(150, 150, 150, 0.5);
}

.screen {
  height: 100%;
  background-color: rgba(150, 150, 150, 0.5);
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2px 10px;
  color: white;
}

.numpad {
  all: unset;
  width: 25%;
  height: 40px;
  outline: 0.01rem solid rgba(150, 150, 150, 0.5);
  text-align: center;
}

.zero {
  width: 50%;
}

.operator {
  background-color: rgb(245, 121, 0);
}
